body{
    background-color: #D9EDBF;
}

header{
    color: #FFB996;
    text-decoration: none;
}

h1{
    color: #FFCF81;
    text-decoration: none; 
}

h2{
    color: #FFCF81;
    text-decoration: none;
}

p{
    color: #FFB996;

}
/*mobiilikoko*/
@media (max-width: 600px) {/*footer eli alatunniste, joka sivulla*/

  .kiipeily{
    background-image: url(kiipeily.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
  }

    footer{
        flex-direction: column;
        background-color:#fff9f2;
        text-decoration: none;
        color:#5c6244;
      
        }
    
        #footerteksti1{
          color: #5c6244;
          text-align: center;
          font-size: 10px;
          text-decoration: none;
        }
      
        /*footer copyright*/
        #footerteksti1{
          text-align: center;
          font-size: 10px;
        }
    }