body{
    background-color: #F0F8E6;
}

header{
    color: #FF964F;
    text-decoration: none;
    text-align: center;
}

h1{
    color: #FF964F;
    text-decoration: none; 
}

h2{
    color: #FF964F;
    text-decoration: none;
}

p{
    color: #FF964F;
    text-align: center;

}

.linkit{
    color: #FF964F;
    text-decoration: none; 
}

.luukut{
    text-align: center;
}

/*mobiilikoko*/
@media (max-width: 600px) {/*footer eli alatunniste, joka sivulla*/

  #kiipeily{
    background-image: url(kiipeily.jpg);
    background-size: cover;
    height: 300px;
    width: auto;
  }

    footer{
        flex-direction: column;
        background-color:#F0F8E6;
        text-decoration: none;
        padding-bottom: 20px;
        filter: blur(5px);
      
        }
    
    #footerteksti1{
          text-align: center;
          font-size: 10px;
          text-decoration: none;
        }
      
    /*footer copyright*/
    #footerteksti1{
          text-align: center;
          font-size: 10px;
        }
    }